:root {
    --primary-bg-color: #5C9EAD;
    --secondary-bg-color: #FFEEDB;
    --highlights-1-color: #F08700;
    --highlights-2-color: #DB5461;
    --detail-color: #124559;
  

}


body {
    background-color: var(--primary-bg-color)!important;
    border: black 1px solid;
    padding: 12px;
    font-family: "Lilita One" , sans-serif!important;
 
}

.main {
    text-align: center;
    background-color: var(--secondary-bg-color);
    border: black 1px solid;
  height: 800px;
    border-radius: 4px;
   
}

.main h1 {
    font-size: 78px;
    line-height: 0.2;
    color: var(--highlights-2-color);
     -webkit-text-stroke: 1.2px var(--detail-color);
   
}

.main .btn {
font-size: 25px;
color: #FFEEDB;
padding: 12px 20px;
margin-top: 12px;
margin-left: 550px;
border-radius: 50px;
background-color: var(--highlights-1-color);
}

.main img {
    width: 40%;
    padding-top: 30px;
}

.main h2 {
    -webkit-text-stroke: 1.2px black;
}

.grid1 ul {
 font-family: "Limelight", sans-serif!important;
padding-inline-start: 0px;
 margin-top: 120px;
  list-style: none;
}

.grid1 li {
    font-size: 19px;
line-height: 3.5;
}

.active {
  background-color: var(--highlights-2-color);
  color: var(--secondary-bg-color);
padding: 12px 15px;
border-radius: 16px;
}

li a {
    color: black;
    text-decoration: none;
}

.grid1 {
    display: grid;
grid-template-columns: 170px 1fr;
}

.grid-2-columns {
display: grid;
grid-template-columns: 1fr 1fr;

}
.footer {
    text-align: center;
padding-top: 30px;
}

.footer h3 {
        font-size: 18px;
        margin-top: 50px;
}

.footer a {
      color: var(--highlights-1-color);
    text-decoration: none;
}

@media (max-width: 430px) {
.body {
  width: 300px;
}
.main h1 {
  font-size: 50px;
}

  .main{
height: 1750px;
}
  .main .btn {
  margin-left: 270px;
}
.footer h3 {
  font-size: 16px;
  margin-top: 1040px;
}


  .footer2 {
    text-align: center;
    padding-top: 400px;
  }
}